html{
    font-size: 16px;
    background: #2F4F4F;
}

body{
    background: #778899;
    margin: 0rem auto;
    width: 720px;
    font-family: sans-serif;
    line-height: 1.5;
}

/* Article */
article{
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0;
}

/* Section */
section{
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0;
}

/* Footer */
footer{
    text-align: center;
}

/* Div */
div{
    padding-bottom: 10px;
}

/* Images */
.img-main-left{
    max-width: 200px;
    float: left;
    padding-right: 0.5em;
}

.img-main-right{
    max-width: 200px;
    float: right;
    padding-left: 0.5em;
}

.img-social{
    display: block;
    margin: 0 auto;
    max-width: 50px;
}

/* List */
#navegation{
    padding: 0;
    list-style-type: none;
    /* border-bottom: 1px solid white; */
    text-align: center;
}
 
#menu{
    display: inline;
    padding-left: 20px;
}

#objectives{
    list-style-type: none;
}

#social{
    list-style-type: none;
}

/* Anchor */
a:link, a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

/* Text */
h1{
    text-align: center;
    padding-top: 0.5em;
}

h2, h3, h4{
    border-bottom: 1px solid white;
}
hr{
    padding-left: 0.5em;
}
